@import "variables";
@import "animation";
/* General Styles ***********************/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin    : 0;
  padding   : 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size  : 0.9rem;
  font-weight: 500;
  color      : $dark-color;
}

a {
  text-decoration: none;
  color          : $dark-color;
}

li {
  list-style: none;
}

source {
  width     : 100%;
  max-width : 100%;
  height    : 100%;
  object-fit: cover;
}

img {
  width     : 100%;
  max-width : 100%;
  height    : 100%;
  object-fit: cover;
}

.container {
  width    : 70%;
  max-width: 1400px;
  margin   : 0 auto;
}

.center {
  width    : inherit;
  position : absolute;
  top      : 50%;
  left     : 50%;
  transform: translate(-50%, -50%);
}

.row {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
}
/* Header Styles ***********************/
#header-section {
  background: transparent;

  .nav-bar {
    padding: 1em 0;

    .logo {
      & a {
        display    : block;
        font-size  : 1.5rem;
        font-weight: 700;
        color      : $green-color;
      }
    }

    .link-container {
      width: 100%;

      .links {
        width : 40%;
        margin: 0 auto;

        a {
          color     : #fff;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: $green-color;
          }
        }
      }

      .nav-btns {
        width: 16%;

        .login-btn {
          color     : #fff;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: $green-color;
          }
        }

        .signup-btn {
          color        : $dark-color;
          padding      : 0.7em 1.2em;
          border-radius: 5px;
          background   : $green-color;
          transition   : all 0.3s ease-in-out;

          &:hover {
            color     : $green-color;
            background: $charcoal;
          }
        }

        .signin-btn + .signup-btn {
          margin-left: 1em;
        }
      }
    }
  }
}
/* Jumbo Styles ***********************/
#jumbo-section {
  height                 : 105vh;
  background             : $charcoal; // Fallback
  background-image       : url("../../img/jumbo-img.jpg"); // Fallback
  background-image       : linear-gradient(to bottom right, rgba($charcoal, .5) 100%, rgba($charcoal, .5) 100%), url("../../img/jumbo-img.jpg");
  background-repeat      : no-repeat;
  -webkit-background-size: cover;
  -moz-background-size   : cover;
  -o-background-size     : cover;
  background-size        : cover;
  margin-top             : -6em;
  // Jumbo Text
  .jumbo-text {
    width: 40%;
    color: #fff;

    .jumbo-main-title {
      font-size    : 3.5rem;
      margin-bottom: 0.7em;
    }

    .jumbo-btn {
      font-weight  : 500;
      color        : $dark-color;
      background   : $green-color;
      border-radius: 5px;
      padding      : 0.7em 1.2em;
      transition   : all 0.3s ease-out;

      &:hover {
        color     : $green-color;
        background: $charcoal;
      }
    }
  }
  // Jumbo Video
  .placeholder-video {
    display: flex;
    width  : 60%;
    // Video Placeholder
    .video-pl-container {
      background-image       : url("../../img/jumbo-img.jpg"); // Fallback
      background-image       : linear-gradient(to bottom right, rgba($charcoal, .6) 100%, rgba($charcoal, .4) 100%), url("../../img/promo-video-poster.png");
      background-repeat      : no-repeat;
      -webkit-background-size: cover;
      -moz-background-size   : cover;
      -o-background-size     : cover;
      background-size        : cover;
      border-radius          : 5px;
      // width                  : 45em;
      width                  : 100%;
      height                 : 30em;
      position               : relative;

      .play-btn-container {
        position : absolute;
        top      : 50%;
        left     : 50%;
        transform: translate(-50%, -50%);

        .play-btn {
          width        : 100px;
          height       : 100px;
          background   : radial-gradient(rgba($charcoal, 0.6) 60%, rgba($green-color, 1) 62%);
          border-radius: 50%;
          position     : relative;
          display      : block;
          margin       : 100px auto;
          box-shadow   : 0 0 25px 3px $green-color;
          cursor       : pointer;
        }
        /* triangle */
        .play-btn::after {
          content           : "";
          position          : absolute;
          left              : 50%;
          top               : 50%;
          -webkit-transform : translateX(-40%) translateY(-50%);
          transform         : translateX(-40%) translateY(-50%);
          transform-origin  : center center;
          width             : 0;
          height            : 0;
          border-top        : 15px solid transparent;
          border-bottom     : 15px solid transparent;
          border-left       : 25px solid $green-color;
          z-index           : 100;
          -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition        : all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
        /* pulse wave */
        .play-btn:before {
          content                          : "";
          position                         : absolute;
          width                            : 150%;
          height                           : 150%;
          -webkit-animation-delay          : 0s;
          animation-delay                  : 0s;
          -webkit-animation                : pulestate 2s;
          animation                        : pulestate 2s;
          -webkit-animation-direction      : forwards;
          animation-direction              : forwards;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count        : infinite;
          -webkit-animation-timing-function: steps;
          animation-timing-function        : steps;
          opacity                          : 1;
          border-radius                    : 50%;
          border                           : 5px solid $green-color;
          top                              : -25%;
          left                             : -25%;
          background                       : rgba($green-color, .5);
        }
      }
    }
  }

  .jumbo-text + .placeholder-video {
    margin-left: 5em;
  }
  // Video Box
  .video-box {
    width     : 100%;
    height    : 100%;
    position  : relative;
    transition: all 0.3s ease-out;

    .video-player {
      width        : 70%;
      height       : 70%;
      position     : fixed;
      top          : 50%;
      left         : 50%;
      transform    : translate(-50%, -50%);
      object-fit   : cover;
      outline      : none;
      border       : none;
      border-radius: 5px;
      z-index      : 100;
    }

    .video-box-gradient {
      width     : 100%;
      height    : 100%;
      position  : absolute;
      top       : 50%;
      left      : 50%;
      transform : translate(-50%, -50%);
      background: linear-gradient(to bottom right, rgba($charcoal, .8) 100%, rgba($charcoal, .8) 100%);
    }
  }
  // Exit Box
  .exit-box {
    position     : fixed;
    top          : 5%;
    right        : 10%;
    color        : #fff;
    font-size    : 2.5rem;
    margin-bottom: 1em;
    cursor       : pointer;
    z-index      : 100;
  }
}
/* About Styles ***********************/
#about-section {
  padding   : 10em 0;
  background: $charcoal;

  .about-img {
    background-image       : url("../../img/about-img.jpg"); // Fallback
    background-image       : linear-gradient(to bottom right, rgba($charcoal, .3) 100%, rgba($charcoal, .3) 100%), url("../../img/about-img.jpg");
    background-repeat      : no-repeat;
    -webkit-background-size: cover;
    -moz-background-size   : cover;
    -o-background-size     : cover;
    background-size        : cover;
    border-radius          : 5px;
    width                  : 60%;
    height                 : 30em;
  }

  .about-description {
    width: 40%;
    color: #fff;

    .about-title {
      font-size    : 3.5rem;
      color        : $green-color;
      margin-bottom: 0.4em;
    }

    .about-description-p {
      line-height: 1.5rem;
    }
  }

  .about-img + .about-description {
    margin-left: 5em;
  }
}
/* Team Styles ***********************/
#our-team-section {
  padding                : 10em 0;
  background             : $charcoal; // Fallback
  background-image       : url("../../img/team-bg-img.jpg"); // Fallback
  background-image       : linear-gradient(to bottom right, rgba($charcoal, .7) 100%, rgba($charcoal, .7) 100%), url("../../img/team-bg-img.jpg");
  background-repeat      : no-repeat;
  background-position    : center center;
  -webkit-background-size: cover;
  -moz-background-size   : cover;
  -o-background-size     : cover;
  background-size        : cover;

  .team-main-title {
    text-align   : center;
    color        : $green-color;
    font-size    : 3.5rem;
    margin-bottom: 2em;
  }

  .box {
    .box-description {
      width      : 40%;
      color      : #fff;
      line-height: 1.5rem;

      .name {
        font-size    : 2.3rem;
        color        : $green-color;
        margin-bottom: 1.5rem;
      }

      .team-description-p {
        margin-bottom: 1rem;
      }

      .experience {
        display        : flex;
        justify-content: space-between;

        .years-of-experience {
          width: 40%;
        }

        .awards {
          width: 40%;
        }
      }
    }

    .box-description + .box-img {
      margin-left: 5em;
    }
  }

  .box-1 {
    margin-bottom: 15em;

    .box-img {
      background-image       : url("../../img/trainer-1.jpg"); // Fallback
      background-image       : linear-gradient(to bottom right, rgba($charcoal, .3) 100%, rgba($charcoal, .3) 100%), url("../../img/trainer-1.jpg");
      background-repeat      : no-repeat;
      background-position    : center center;
      -webkit-background-size: cover;
      -moz-background-size   : cover;
      -o-background-size     : cover;
      background-size        : cover;
      border-radius          : 5px;
      width                  : 50%;
      height                 : 57em;
    }
  }

  .box-2 {
    margin-bottom: 15em;

    .box-img {
      background-image       : url("../../img/trainer-2.jpg"); // Fallback
      background-image       : linear-gradient(to bottom right, rgba($charcoal, .3) 100%, rgba($charcoal, .3) 100%), url("../../img/trainer-2.jpg");
      background-repeat      : no-repeat;
      background-position    : center center;
      -webkit-background-size: cover;
      -moz-background-size   : cover;
      -o-background-size     : cover;
      background-size        : cover;
      border-radius          : 5px;
      width                  : 50%;
      height                 : 57em;
    }

    .box-img + .box-description {
      margin-left: 5em;
    }
  }

  .box-3 {
    .box-img {
      background-image       : url("../../img/trainer-3.jpg"); // Fallback
      background-image       : linear-gradient(to bottom right, rgba($charcoal, .3) 100%, rgba($charcoal, .3) 100%), url("../../img/trainer-3.jpg");
      background-repeat      : no-repeat;
      background-position    : top center;
      -webkit-background-size: cover;
      -moz-background-size   : cover;
      -o-background-size     : cover;
      background-size        : cover;
      border-radius          : 5px;
      width                  : 50%;
      height                 : 57em;
    }
  }
}
/* Review Styles ***********************/
#review-section {
  padding   : 10em 0;
  background: $charcoal;

  .review-big-title {
    text-align   : center;
    font-size    : 3.5rem;
    color        : $green-color;
    margin-bottom: 2em;
  }
  // Review Text
  .review-text {
    width: 55%;

    .review-title {
      font-size  : 2.3rem;
      font-weight: 600;
      line-height: 3.5rem;
      color      : #fff;
    }
    // Slider Container
    .slider-btn-container {
      margin-top: 1.5em;

      .slider-btn-left {
        display       : inline-block;
        font-size     : 1.5rem;
        text-align    : center;
        vertical-align: middle;
        width         : 40px;
        height        : 40px;
        border-radius : 50%;
        fill          : $charcoal;
        background    : $green-color;
        cursor        : pointer;

        .icon {
          width : 50%;
          height: 100%;
        }
      }

      .slider-btn-right {
        display       : inline-block;
        font-size     : 1.5rem;
        text-align    : center;
        vertical-align: middle;
        width         : 40px;
        height        : 40px;
        border-radius : 50%;
        fill          : $charcoal;
        background    : $green-color;
        margin-left   : 0.4em;
        cursor        : pointer;

        .icon {
          width : 50%;
          height: 100%;
        }
      }
    }
  }
  // Revew Grid
  .review-grid {
    color: #fff;
    width: 40%;

    .slider-container {
      width   : 100%;
      height  : 300px;
      position: relative;
      // Global Boxes
      .box {
        display      : inline-block;
        width        : 100%;
        background   : $green-color;
        padding      : 1.5em;
        border-radius: 5px;
        transition   : all 0.5s ease-in-out;

        .review-description-container {
          position: relative;

          .review-description {
            font-style : italic;
            line-height: 1.5rem;
            color      : $charcoal;
            margin-top : 2rem;
            position   : sticky;
            z-index    : 10;
          }
        }

        .reviewer-img {
          width : 100px;
          height: 100px;
          margin: 2em auto;

          img {
            width        : 100%;
            height       : 100%;
            border-radius: 50%;
          }
        }

        .reviewer-name {
          font-weight  : 500;
          color        : $charcoal;
          text-align   : center;
          margin-bottom: 1em;
        }
      }
      // Individual boxes
      .box-1 {
        position: absolute;
        z-index : 30;

        .quote-left {
          width   : 45px;
          height  : 45px;
          position: absolute;
          top     : -45%;
          left    : -2%;

          .icon {
            width : 100%;
            height: 100%;
            fill  : #fff;
          }
        }

        .quote-right {
          width   : 45px;
          height  : 45px;
          position: absolute;
          bottom  : -30%;
          right   : 24%;

          .icon {
            width : 100%;
            height: 100%;
            fill  : #fff;
          }
        }
      }

      .box-2 {
        position: absolute;
        z-index : 20;

        .quote-left {
          width   : 45px;
          height  : 45px;
          position: absolute;
          top     : -30%;
          left    : -2%;

          .icon {
            width : 100%;
            height: 100%;
            fill  : #fff;
          }
        }

        .quote-right {
          width   : 45px;
          height  : 45px;
          position: absolute;
          bottom  : -28%;
          right   : 2%;

          .icon {
            width : 100%;
            height: 100%;
            fill  : #fff;
          }
        }
      }

      .box-3 {
        position: absolute;
        z-index : 10;

        .quote-left {
          width   : 45px;
          height  : 45px;
          position: absolute;
          top     : -45%;
          left    : -2%;

          .icon {
            width : 100%;
            height: 100%;
            fill  : #fff;
          }
        }

        .quote-right {
          width   : 45px;
          height  : 45px;
          position: absolute;
          bottom  : -36%;
          right   : 19%;

          .icon {
            width : 100%;
            height: 100%;
            fill  : #fff;
          }
        }
      }

      .box-4 {
        position: absolute;
        z-index : 0;

        .quote-left {
          width   : 45px;
          height  : 45px;
          position: absolute;
          top     : -45%;
          left    : -2%;

          .icon {
            width : 100%;
            height: 100%;
            fill  : #fff;
          }
        }

        .quote-right {
          width   : 45px;
          height  : 45px;
          position: absolute;
          bottom  : -36%;
          right   : 44%;

          .icon {
            width : 100%;
            height: 100%;
            fill  : #fff;
          }
        }
      }
    }
    // Slider Container
    .slider-btn-container {
      display   : none;
      margin-top: 1.5em;

      .slider-btn-left {
        display       : inline-block;
        font-size     : 1.5rem;
        text-align    : center;
        vertical-align: middle;
        width         : 40px;
        height        : 40px;
        border-radius : 50%;
        fill          : $charcoal;
        background    : $green-color;
        cursor        : pointer;

        .icon {
          width : 50%;
          height: 100%;
        }
      }

      .slider-btn-right {
        display       : inline-block;
        font-size     : 1.5rem;
        text-align    : center;
        vertical-align: middle;
        width         : 40px;
        height        : 40px;
        border-radius : 50%;
        fill          : $charcoal;
        background    : $green-color;
        margin-left   : 0.4em;
        cursor        : pointer;

        .icon {
          width : 50%;
          height: 100%;
        }
      }
    }
  }

  .reviewer-text + .review-grid {
    margin-left: 5em;
  }
}